header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    >.left {
        display: flex;
        justify-content: center;
        align-items: center;
        >h1 {
            margin-right: 25px;
        }
        >.menu {
            >.item {
                text-decoration: none;
                color: rgba($color: #000000, $alpha: 0.7);
                font-size: 20px;
                font-weight: bold !important;
                padding: 10px 20px;
                transition: 0.5s;
                border-radius: 10px;
                &:hover {
                    color: #000000;
                    transition: 0.5s;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
                &.active {
                    color: #000000;
                }
            }
        }
    }
    >.right {
        img {
            width: 70px;
            &#logo {
                display: flex;
            }
            &#menuicon {
                display: none;
                width: 50px;
            }
        }
        .menu {
            padding: 20px;
            z-index: 10000000;
            position: absolute;
            width: 100vw;
            height: 100vh;
            transition: 0.5s;
            top: -100vh;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            .top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                img {
                    width: 40px;
                }
            }
            .bottom {
                width: 100%;
                flex-direction: column;
                a {
                    border-radius: 10px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    margin-bottom: 15px;
                    text-decoration: none;
                    width: 100%;
                    padding: 10px;
                    color: black;
                    font-weight: bold !important;
                    font-size: 20px;
                    display: flex;
                }
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.active {
                top: 0;
                transition: 0.5s;
            }
        }
    }
}