.matches {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        >button {
            outline: none;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 15px;
            background-color: limegreen;
            color: white;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
        }
    }
    .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

.match {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .left {
        font-size: 13px;
    }
    .right {
        a {
            background-color: #007AFF;
            text-decoration: none;
            color: white;
            padding: 10px 15px;
            border-radius: 8px;
            margin-right: 15px;
            font-weight: bolder;
        }
        button {
            outline: none;
            border: none;
            background-color: transparent;
            font-weight: bolder;
            font-size: 15px;
            background-color: crimson;
            color: white;
            padding: 10px 15px;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}