.team {
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    .top {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .images {
            margin-right: 40px;
            position: relative;
            height: 100px;
            width: 100px;
            >img,
            >h1 {
                width: inherit;
                height: inherit;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #007AFF;
                color: white;
                font-size: 40px;
            }
            .user {
                >img,
                >h1 {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0029FF;
                    color: white;
                    font-size: 25px;
                    bottom: -5px;
                    right: -5px;
                }
            }
        }
    }
    >p {
        font-size: 20px;
        font-weight: bolder;
        margin-bottom: 20px;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0;
            width: 49%;
            text-decoration: none;
            color: white;
            font-weight: bolder;
            background-color: #007AFF;
            border-radius: 10px;
            font-size: 20px;
        }
    }
}